.banner {
background: url("banner.png") no-repeat center center;
background-size: cover;
width: 100%;
padding-top: 12rem;
padding-bottom: 12rem;
text-align: center !important;
color: white !important;
}
div a{text-decoration: none;}
div a:hover{color:red;}
.slogan{
background-color:pink;
text-align: center !important;
width: 100%;
padding-right: 0.5rem;
padding-left: 3rem;
padding-top: 7rem;
padding-bottom: 7rem;
}
.row {
display: flex;
flex-wrap: wrap;
margin-top: -1;
max-width: 100%;
padding-right: 3rem;
padding-left: 3rem;
}
.block_3 {
flex: 0 0 auto;
width: 33.33333333%;
}
.block_3 a {
text-decoration: none;
color: blue;
}
.content{
background-color: pink !important;
text-align: center !important;
width: 100%;
padding-right: 0.5rem;
padding-left: 3rem;
padding-top: 7rem;
padding-bottom: 7rem;
}
.block_2 {	
flex: 0 0 auto;
width: 50%;	
}
.footer{
background-color: black;
text-align: center !important; color: yellow;
width: 100%;
height: 120px;
padding-top: 1px;	
}
.footer a:hover{color: red;}
.cell_img {
width: 50%;
}
.cell_text {
width: 50%; 
padding-left: 5rem;
}
.img {width: 100%; 
height: 100%;
}
.menu {font-size: 120%; 
text-decoration: none;
}

